# My
/dz_*
*.v-*
/*.org

# Python cache / MkDocs build
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
env/
.venv/

# MkDocs build directory
site/

# OS files
.DS_Store
Thumbs.db

# VSCode / IDE configs
.vscode/
.idea/

# Temporary files
*.log
*.tmp

