<header class="site-header" role="banner">
  <div class="site-header__inner">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title | default: site.github.repository_name }}</a>
    {%- if site.search_enabled != false -%}
      <div class="search" role="search">
        <div class="search-input-wrap">
          <input type="text" id="search-input" class="search-input" tabindex="0" placeholder="Search {{ site.title | default: site.github.repository_name }}" aria-label="Search {{ site.title | default: site.github.repository_name }}" autocomplete="off">
          <label for="search-input" class="search-label"><svg viewBox="0 0 24 24" class="search-icon"><use xlink:href="#svg-search"></use></svg></label>
        </div>
        <div id="search-results" class="search-results"></div>
      </div>
    {%- endif -%}
    {%- if site.aux_links -%}
      <nav class="site-nav" role="navigation">
        <ul class="site-nav-list">
          {%- for link in site.aux_links -%}
            <li class="site-nav-list-item"><a href="{{ link.url }}" class="site-nav-list-link">{{ link.name }}</a></li>
          {%- endfor -%}
        </ul>
      </nav>
    {%- endif -%}
  </div>
</header>
