<nav class="site-nav" role="navigation">
  {%- assign pages_list = site.html_pages | sort:"nav_order" -%}
  <ul class="nav-list">
    {%- for node in pages_list -%}
      {%- unless node.nav_exclude -%}
        {%- if node.parent == nil -%}
          <li class="nav-list-item{% if page.url == node.url %} active{% endif %}">
            <a href="{{ node.url | relative_url }}" class="nav-list-link">{{ node.title }}</a>
            {%- if node.has_children -%}
              {%- assign children_list = site.html_pages | where: "parent", node.title | sort:"nav_order" -%}
              <ul class="nav-list">
                {%- for child in children_list -%}
                  <li class="nav-list-item {% if page.url == child.url %} active{% endif %}">
                    <a href="{{ child.url | relative_url }}" class="nav-list-link">{{ child.title }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </li>
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}
  </ul>
</nav>
