/* assets/css/custom.css */
/* Los estilos aquí son ajustados para el theme just-the-docs (cargado como theme nativo para GitHub Page) */
/*
  1. Apuntamos a la clase .main-content-wrap, que es el contenedor principal.
  2. Usamos 'none' para eliminar cualquier límite de ancho.
*/
.main-content-wrap {
  max-width: none !important;
}

/*
  3. Para el contenido interno, usamos un padding que sea responsive.
     '2rem' es fijo. '5vw' significa "5% del ancho de la ventana" (viewport width).
     Esto hace que el margen sea más pequeño en pantallas de móvil y más grande en las de escritorio.
     'clamp()' asegura que el padding nunca sea demasiado pequeño ni demasiado grande.
*/
.main-content {
  padding-left: clamp(1rem, 5vw, 4rem) !important;
  padding-right: clamp(1rem, 5vw, 4rem) !important;
}
